.infoMainPageDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 40px;
}

.infoMainPageDiv > h3{
    margin: 6% 0%;
}

.infoMainPageDivImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

